.root-route {
    display: flex;
    justify-content: center;
}

.modal-backdrop.show {
    opacity: .85;
}

.nav.container {
    flex-direction: column;
}

.root-route .main-nav {
    min-height: 100vh;
}

.content {
    width: 60%;
}