.root-route {
    display: flex;
    justify-content: center;
}

.modal-backdrop.show {
    opacity: .95;
}

.nav.container {
    flex-direction: column;
}

.root-route .main-nav {
    min-height: 100vh;
}

.content {
    width: 65%;
    padding: 0 1rem;
}

.activity-indicator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}

form .error-msg {
    color: #ff4444;
    text-align: right;
    font-size: 0.6rem;
    margin-top: -0.5rem;
    padding-bottom: 1rem;
}