.header {
    display: flex;
    height: 5rem;
    padding: 1rem 0;
    justify-content: space-between;
}

.header__welcome {
    font-weight: bold;
    font-size: 1rem;
    line-height: 2rem;
    text-transform: uppercase;
}

.header__logout-button {
    height: 2rem;
    font-size: 1rem;
    line-height: 1rem;
}