.cars__column-active {
    background-color: #00C851;
}

.cars__column-inuse {
    background-color: #ffbb33;
}

.cars__column-inactive {
    background-color: #ff4444;
}

.cars-route .table-hover tbody tr:hover {
    cursor: initial;
}

.cars-route__legends {
    display: flex;
}

.cars-route__legends-green {
    color: #00C851;
    padding: 0 1rem;
}

.cars-route__legends-yellow {
    color: #ffbb33;
    padding: 0 1rem;
}

.cars-route__legends-red {
    color: #ff4444;
    padding: 0 1rem;
}

.cars-route__title {
    display: flex;
    justify-content: space-between;
}

.form-control-file {
    width: 60%;
}

.cars-route .react-calendar {
    width: initial;
}

.cars-route__filter {
    padding: 2.5rem 1rem;
}

.cars-route__filter-toggle {
    display: flex;
    justify-content: flex-end;
    line-height: 0.9rem;
}

.cars-route__filter-toggle-btn {
    cursor: pointer;
    margin-left: 0.3rem;
}

.cars-route .form-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cars-route .form-control {
    width: 60%;
}

.cars-route .form-control option {
    text-transform: capitalize;
}