.cars__column-active {
    background-color: #00C851;
}

.cars__column-inuse {
    background-color: #ffbb33;
}

.cars__column-inactive {
    background-color: #ff4444;
}

.cars-route .table-hover tbody tr:hover {
    cursor: initial;
}

.cars-route__legends {
    display: flex;
}

.cars-route__legends-green {
    color: #00C851;
    padding: 0 1rem;
}

.cars-route__legends-yellow {
    color: #ffbb33;
    padding: 0 1rem;
}

.cars-route__legends-red {
    color: #ff4444;
    padding: 0 1rem;
}

.cars-route__title {
    display: flex;
    justify-content: space-between;
}

.form-control-file {
    width: 60%;
}

.cars-route .react-calendar {
    width: initial;
}

.cars-route__filter {
    padding: 1rem 1rem 2.5rem;
}

.cars-route__filter-toggle {
    display: flex;
    justify-content: flex-end;
    line-height: 0.9rem;
}

.cars-route__filter-toggle-btn {
    cursor: pointer;
    margin-left: 0.3rem;
}

.cars-route .form-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cars-route .form-control {
    width: 60%;
}

.cars-route .form-control option {
    text-transform: capitalize;
}

.sorting-button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 1.5rem;
}

.sorting-button p {
    cursor: pointer;
    padding: 0.5rem 0.5rem;
}

.sorting-button p:hover {
    background-color: #e8e8e8;
}

.sorting-button__active {
    background-color: #e8e8e8;
}

.order-history__hightlighted {
    border-left: 6px solid #2196F3;
    background-color: #ddffff;
}

.order-history__legends-blue {
    color: #2196F3;
    line-height: 1;
}

.order-history__legends {
    display: flex;
    flex-direction: row;
}

.order-history__legends-square {
    height: 1rem;
    width: 1rem;
    background-color: #2196F3;
    margin-right: 0.5rem;
}