.admins__column-active {
    background-color: #28a745;
}

.admins__column-inactive {
    background-color: #dc3545;
}

.table-hover tbody tr:hover {
    cursor: pointer;
}

.admins-route__legends {
    display: flex;
}

.admins-route__legends-green {
    color: #28a745;
    padding: 0 1rem;
}

.admins-route__legends-red {
    color: #dc3545;
    padding: 0 1rem;
}

.admins-route__title {
    display: flex;
    justify-content: space-between;
}