.admins__column-active {
    background-color: #00C851;
}

.admins__column-inactive {
    background-color: #ff4444;
}

.table-hover tbody tr:hover {
    cursor: pointer;
}

.admins-route__legends {
    display: flex;
}

.admins-route__legends-green {
    color: #00C851;
    padding: 0 1rem;
}

.admins-route__legends-red {
    color: #ff4444;
    padding: 0 1rem;
}

.admins-route__title {
    display: flex;
    justify-content: space-between;
}